/*
* @Author: Administrator
* @Date:   2017-03-29 14:01:39
* @Last Modified by:   Administrator
* @Last Modified time: 2017-03-30 00:09:45
* 苹果
*/
nav .con1{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
/* .banner-item{
	width: 100%;
	height: 480px;
	background: #cc3341;
} */
nav .wheel{
	height: 500px;
}
.wheel .wheel-img a{
	display: block;	
	width: 100%;
	height: 100%;
	/* background: darkmagenta; */
	float: left;
	background: #cc3341;
	background-image: url(../img/iphone7_medium.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 200px;
	
}
.wheel .word>h3{
	color: #fff;
	font-size: 28px;
}
.wheel .word>h4{
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.wheel .left,.wheel .right{
	width: 175px;
	height: 100%;
	/* background: green; */	
	position: absolute;
	right: 0;top: 0;
	cursor: pointer
}
.pic-list{
	width: 100%;
	height: 400px;
	position: absolute;
	top: 541px;
	background-position: center;

}
.pic-item{
	width: 50%;
	height: 200px;
	border: 2px solid #fff;
	box-sizing: border-box;
	background: red;
	float: left;	
}
.pic-item:first-child{
	border-left: 0;
	background-image: url('../img/w_medium.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pic-item:last-child{
	border-right: 0;
	background-image: url('../img/i_medium.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pic-item:nth-child(2){
	background-image: url('../img/a_medium.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pic-item:nth-child(3){
	background-image: url('../img/s_medium.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.footer{
	width: 100%;
	height: 421px;
	top: 942px;
}
.footer-main{
	width: 970px;
	/* height: auto; */
}
.footer-body{
	margin-left: 25px;

}
.footer .footer-main{
	width: 100%;
	box-sizing: border-box;
}